{% extends "base.twig"%}

{% block styles %}
    <link rel="stylesheet" href="style.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <aside class="col-3 px-1 bg-dark position-fixed">
                ...
            </aside>
            <main class="col offset-3">
                <h1>Josef Kuchař, S1E</h1>
                <table class="table">
                    <tr>
                        <th></th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                    </tr>
                    <tr>
                        <td>Pondělí</td>
                    </tr>
                    <tr>
                        <td>Úterý</td>
                    </tr>
                    <tr>
                        <td>Středa</td>
                    </tr>
                    <tr>
                        <td>Čtvrtek</td>
                    </tr>
                    <tr>
                        <td>Pátek</td>
                    </tr>
                </table>
            </main>
        </div>
    </div>
{% endblock %}