{% extends "base.twig"%}

{% block styles %}
    <link rel="stylesheet" href="style.css">
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/moment@2.22.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.22.1/locale/cs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="index.js"></script>
{% endblock %}

{% block body %}
    <script>
        window.__INITIAL_DATA__ = '{{ data|json_encode|raw }}'
    </script>

    <div class="container-fluid" id="app">
        <div class="row">
            <aside class="col-3 px-1 bg-dark position-fixed">
                ...
            </aside>
            <main class="col offset-3">
                <h1>${ name }</h1>
                <table class="table table-bordered text-center">
                    <tr class="thead-dark">
                        <th></th>
                        <th v-for="column in schedule.header">
                            <div class="table-big">${ column.caption }</div>
                            ${ column.start }
                            ${ column.end }
                        </th>
                    </tr>
                    <tr v-for="day in schedule.days">
                        <td>
                            <div class="table-big">${ dayConvert(day.name) }</div>
                            ${ dateConvert(day.date) }
                        </td>
                        <td v-for="hour in day.hours" v-bind:class="{ change: hour.change != undefined && hour.change != '' }">
                            <div class="table-big">${ hour.shortName }</div>
                            ${ hour.shortTeacher }
                            ${ hour.room}
                        </td>
                    </tr>
                </table>
            </main>
        </div>
    </div>
{% endblock %}